* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.bg {
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(124deg, #000180, #202160, #502060, #4d0166, #5e2552);
    background-size: 1000% 1000%;
    z-index: -1;

    -webkit-animation: bgAnimation 20s ease infinite;
    -z-animation: bgAnimation 20s ease infinite;
    -o-animation: bgAnimation 20s ease infinite;
    animation: bgAnimation 20s ease infinite;
}

@keyframes bgAnimation {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.container {
    margin: 2.5% auto 25px;
    z-index: 10;
}

#table-a {
    position: relative;
    margin: 0 auto;
    border: 1px solid #222;
    width: 602px;
    height: 602px;
}

#table-a div {
    width: 100px;
    height: 100px;
    border: 1px solid;
    font-size: 26px;
    text-align: center;
    line-height: 100px;
    background: #ffffff;

    position: absolute;
    transition: all 0.15s ease;
}

#table-a div:hover {
    cursor: pointer;
    box-shadow: inset 0px 0px 0px 1px #f49f1c;
}

#table-b {
    display: none;
}

.row {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 100px;
    height: 100px;
    border: 1px solid;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.15s ease;
}

.card.done {
    cursor: default;
}

.card.done:hover {
    cursor: default;
    box-shadow: none;
}

.card:hover {
    box-shadow: inset 0px 0px 0px 1px #f49f1c;
}

.btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    height: 40px;
    width: 120px;
    background-color: #f5007a;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease;
    -webkit-appearance: none;
}

button:hover {
    opacity: 90%;
}

.btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.btn1, .btn2 {
    width: 120px;
    margin: 0 auto;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.timer span {
    text-align: center;
    font-size: 28px;
    color: #f5007a;
    font-weight: bold;
}

#timerAndAlert {
    margin-bottom: 15px;
    font-weight: bold;
}

#alert {
    text-align: center;
    font-size: 16px;
    color: #f5007a;
    font-weight: bold;
}

@media all and (max-width: 525px) {
    .container {
        margin: 10% auto 25px;
    }

    #table-a {
        width: 301px;
        height: 301px;
    }

    #table-a div {
        width: 50px;
        height: 50px;
        font-size: 26px;
        line-height: 50px;
    }

    .card {
        width: 50px;
        height: 50px;
    }
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.pink {
    background-color: pink;
}

.teal {
    background-color: teal;
}

.lightblue {
    background-color: lightblue;
}

.brown {
    background-color: brown;
}

.violet {
    background-color: violet;
}

.purple {
    background-color: purple;
}

.gold {
    background-color: gold
}

.black {
    background-color: #222;
}

.darkblue {
    background-color: darkblue;
}

.darkred {
    background-color: darkred;
}

.lightgreen {
    background-color: lightgreen;
}

.hotpink {
    background-color: hotpink;
}

.coral {
    background-color: coral;
}

.color-hidden {
    background-color: #ffffff;
}